.about {
  padding: 5vh 0;
  height: 100vh;
  .header {
    font-size: clamp(1rem, 5vw, 4rem);
    margin: 10vh 0;
  }
  .body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    .image-wrapper {
      img {
        width: 100%;
        max-width: 50vh;
      }
    }
    .bio-wrapper {
    }
  }
}
