.showcase {
  width: 100%;
  z-index: 999;
  background-color: transparent;
  height: 100vh;
  position: absolute;
  top: 0;
  line-height: 5rem;
  @include displayFlex(center, center);
  &_wrapper {
    h1 {
      font-size: 5rem;
      font-weight: weight(medium);
    }
  }
}
