$font: "Montserrat";
$primary-color: #333;
$dark-primary-color: darken(#333, 10%);
$secondary-color: #fff;
$dark-secondary-color: darken(#fff, 3%);
$min-width: 320px;
@mixin displayFlex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

$font-weights: (
  "light": 100,
  "regular": 400,
  "medium": 500,
  "bold": 900,
);

@function weight($font-weight) {
  @return map-get($font-weights, $font-weight);
}
