@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bs-blue: rgb(4, 11, 20);
  --bs-icon: rgb(53, 53, 53);
}

.wrapper {
  padding: 0 30px;
  min-width: 320px;
  max-width: 1380px;
  margin: auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  user-select: none;
  list-style: none;
  background-color: black;
}

@import "_showcase";
@import "_about";
@import "_landing";
@import "_footer";
